<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.guru2_diaryapp">

    <!-- 인터넷 권한 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 카메라 권한 설정 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 저장 권한 설정 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 카메라 기능이 무조건 필요하지 않을 경우 -->
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="false" />
    <!-- GPS 위치 획득 권한 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_cook"
        android:screenOrientation="portrait"
        android:label="Cookie Diary"
        android:roundIcon="@mipmap/ic_launcher_cook"
        android:supportsRtl="true"
        android:theme="@style/Theme.GURU2_DiaryApp"
        android:usesCleartextTraffic="true"> <!-- 앱 내 http 주소 사용 가능-->
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.LoginActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!-- Intro -->
        <activity
            android:name=".IntroActivity"
            android:theme="@style/IntroTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".category.CategoryActivity" />
        <activity android:name=".Tracker.Tracker"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".TimeLine.SearchActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".TimeLine.TimeLineView"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".diaryView.DiaryView"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Settings.SettingsActivity"
            android:parentActivityName=".MainActivity"/>


        <activity
            android:name=".diaryView.DiaryViewEdit"
            android:parentActivityName=".diaryView.DiaryView" />
        <activity android:name=".MainActivity"/>
    </application>

</manifest>