<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guru2_diaryapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GURU2_DiaryApp">
        <activity android:name=".LoginActivity"></activity>
        <!-- Intro -->
        <activity
            android:name=".IntroActivity"
            android:theme="@style/IntroTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".category.CategoryActivity" />
        <activity android:name=".Tracker" />
        <activity android:name=".SelectResultActivity" />
        <activity android:name=".SelectActivity" />
        <activity android:name=".MainTimelineView" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 뒤로가기 -->
        <activity
            android:name=".diaryView.DiaryViewEdit"
            android:parentActivityName=".diaryView.DiaryView" />
    </application>

</manifest>